# Django settings
DJANGO_SECRET_KEY='your secret key'
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Database settings
MYSQL_DB_NAME='your database name'
MYSQL_DB_USER='your database username'
MYSQL_DB_PASSWORD='your database password'
MYSQL_DB_HOST='your database host'
MYSQL_DB_PORT='your database port'